Twitter Sentiment Analysis

Import the libraries that will be usedin this project.

In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_colwidth = 1000

Read in the twitter data into a panda dataframe. I originally ran into an encoding issue and had to save the csv in UTF-8. The csv file does not include a column header row, so add those in manually.

In [2]:
# df = pd.read_csv("twitter_data.csv", header=None, names=["sentiment", "tweet_id", "date", "query", "user", "tweet"])
df = pd.read_csv("twitter_data_700k.csv")

In [3]:
df.head()

,sentiment,tweet_id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."

In [4]:
# num = 350000
# h = df.head(num)
# t = df.tail(num)

# f = pd.concat([h,t], axis=0)
# f.to_csv('twitter_data_700k.csv', index=False)

Remove columns that dont seem useful for sentiment analysis

In [5]:
df.drop(["tweet_id", "date", "query", "user"], axis=1, inplace=True)
df.head()

,sentiment,tweet
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,my whole body feels itchy and like its on fire
4,0,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."

DO NOT KEEP THIS IN THE PROJECT!!!
DROPPING A BUNCH OF ROWS TO SPEED UP PREPROCESSING WHILE TESTING!!!

In [6]:
# df = df.sample(100000)
# df.shape

Perform data preprocessing

In [7]:
import re

def processTweet(tweet):
    tweet = re.sub("[@|#]\w+\S","", tweet) # remove @usernames and #hashtags
    tweet = re.sub("http[s]?://[\S]+", '', tweet) # remove urls 
    tweet = re.sub(r"(.)\1\1+",r"\1\1", tweet) # remove letters that repeat more than 2 times
    tweet = re.sub('[!&()+,-./:;<=>?[\\]_{|}~]', ' ',tweet) # replace certain punctuation with a space 
    tweet = re.sub('[!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~]', '',tweet) # remove remaining punctuation
    tweet = re.sub(r'\b\w{1,2}\b', '', tweet) # remove words that are less than 3 characters
    tweet = tweet.lower() # lowercase
    return tweet

In [18]:
df['tweet'] = df['tweet'].map(lambda tweet: processTweet(tweet))

df.head()

,sentiment,tweet
0,0,aww thats bummer you shoulda got david carr third day
1,0,upset that cant update his facebook texting and might cry result school today also blah
2,0,dived many times for the ball managed save the rest out bounds
3,0,whole body feels itchy and like its fire
4,0,its not behaving all mad why here because cant see you all over there

In [9]:
from sklearn.model_selection import train_test_split

y = df['sentiment'].map({0: 0, 4: 1})
X = df.drop(['sentiment'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=42)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

count_vector = CountVectorizer()

train_vector = count_vector.fit_transform(X_train['tweet'])
test_vector = count_vector.transform(X_test['tweet'])

In [11]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(train_vector, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [12]:
predictions = naive_bayes.predict(test_vector)

In [13]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))
print(accuracy_score(y_test, predictions))

[[69739 17673]
 [21531 66057]]
              precision    recall  f1-score   support

           0       0.76      0.80      0.78     87412
           1       0.79      0.75      0.77     87588

   micro avg       0.78      0.78      0.78    175000
   macro avg       0.78      0.78      0.78    175000
weighted avg       0.78      0.78      0.78    175000

0.7759771428571428

BELOW HERE STARTING RNN

In [14]:
from keras.preprocessing import sequence, text
from keras.utils import to_categorical

from sklearn.feature_extraction.text import TfidfVectorizer

vocabulary_size = 20000

tokenizer = text.Tokenizer(num_words=vocabulary_size)
tokenizer.fit_on_texts(X_train['tweet'])

train_token = tokenizer.texts_to_sequences(X_train['tweet'])
test_token = tokenizer.texts_to_sequences(X_test['tweet'])

max_words = 50
train_padded = sequence.pad_sequences(train_token, maxlen=max_words)
test_padded = sequence.pad_sequences(test_token, maxlen=max_words)

Using TensorFlow backend.

In [20]:
from keras import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout, Activation, TimeDistributed

embedding_size=32
model=Sequential()
model.add(Embedding(vocabulary_size, embedding_size, input_length=max_words))
model.add(LSTM(32, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1, activation='sigmoid'))
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 50, 32)            640000
_________________________________________________________________
lstm_2 (LSTM)                (None, 32)                8320
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 33
=================================================================
Total params: 648,353
Trainable params: 648,353
Non-trainable params: 0
_________________________________________________________________
None

In [21]:
loss_func = 'binary_crossentropy'

model.compile(loss=loss_func, 
             optimizer='adam', 
             metrics=['accuracy'])

In [22]:
from keras.callbacks import ModelCheckpoint  

saved_model_path = 'model.weights.best.hdf5'

checkpointer = ModelCheckpoint(filepath=saved_model_path, 
                               monitor='val_loss',
                               save_best_only=True)

batch_size = 32
num_epochs = 5
model.fit(train_padded, 
          y_train, 
          validation_split=0.2, 
          batch_size=batch_size, 
          epochs=num_epochs,
          shuffle=True,
          callbacks=[checkpointer])

Train on 420000 samples, validate on 105000 samples
Epoch 1/5
420000/420000 [==============================] - 705s 2ms/step - loss: 0.4522 - acc: 0.7881 - val_loss: 0.4270 - val_acc: 0.8020
Epoch 2/5
420000/420000 [==============================] - 700s 2ms/step - loss: 0.4078 - acc: 0.8135 - val_loss: 0.4185 - val_acc: 0.8068
Epoch 3/5
420000/420000 [==============================] - 707s 2ms/step - loss: 0.3870 - acc: 0.8246 - val_loss: 0.4174 - val_acc: 0.8080
Epoch 4/5
420000/420000 [==============================] - 708s 2ms/step - loss: 0.3719 - acc: 0.8330 - val_loss: 0.4214 - val_acc: 0.8085
Epoch 5/5
420000/420000 [==============================] - 708s 2ms/step - loss: 0.3586 - acc: 0.8400 - val_loss: 0.4292 - val_acc: 0.8067

In [23]:
model.load_weights(saved_model_path)

In [24]:
scores = model.evaluate(test_padded, y_test, verbose=0)
print('Test accuracy:', scores[1])

Test accuracy: 0.8091828571401324

In [25]:
rnn_pred = model.predict_classes(test_padded)

In [26]:
print(confusion_matrix(y_test, rnn_pred))
print(classification_report(y_test, rnn_pred))
print(accuracy_score(y_test, rnn_pred))

[[69751 17661]
 [15732 71856]]
              precision    recall  f1-score   support

           0       0.82      0.80      0.81     87412
           1       0.80      0.82      0.81     87588

   micro avg       0.81      0.81      0.81    175000
   macro avg       0.81      0.81      0.81    175000
weighted avg       0.81      0.81      0.81    175000

0.8091828571428571